<%- include("../partials/header") %>
<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h1 style="text-align:center;">
				Edit <%=campground.name%>
			</h1>
			

				<form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" enctype="multipart/form-data" novalidate class="validated-form">
					<div class="form-group">
						<label for="name">Name</label>
						<input class="form-control" type="text" value="<%=campground.name%>" id="name" name="campground[name]" required>	
					</div>
					<div class="form-group">
						<label for="location">Location</label>
						<input class="form-control" type="text" value="<%=campground.location%>" name="campground[location]" required>	
					</div>
					<div class="form-group">
						<label for="price">Price</label>
						<input class="form-control" type="number" id="price" value="<%=campground.price%>" name="campground[price]" min="0.01" step="0.01" required>	
					</div>
					
					<div class="form-group">
						<label>Upload Image</label>
						<div class="form-file custom-file">

							<input type="file" class="custom-file-input" id="image" name="image">
							<label class="form-file-label" for="image">

								<span class="form-file-text custom-file-label">Choose the image to be added</span>

							</label>

						</div>
					</div>
					<div class="mb-3">
						<label for="replace">Image to be replaced:</label>
						<br>
						<img src=<%= campground.image %> id="replace" class="img-thumbnail" style="width:200px;" alt="">
					</div>
					<div class="form-group">
						<label for="body">Description</label>
						<textarea class="form-control" id="body" name="campground[description]" rows="5" cols="30" required><%=campground.description%></textarea>

					</div>
					<div class="form-group">
						<button class="btn btn-lg btn-info btn-block">
							Submit!
						</button>

					</div>

				</form>

				<a href="/campgrounds">Go Back</a>
				
		</div>
	</div>
</div>

<script src="/Javascripts/validation.js"></script>
<%- include("../partials/footer") %>
